#contact{
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
}

#contact form{
	display: flex;
	flex-direction: column;
	height: 288px;
	justify-content: space-between;
	align-items: center
}

#contact form input{
	border: none;
	border-bottom: 1px white solid;
	background: transparent;
	width: 300px;
}
#contact form input:focus{
	outline: none;
}
#contact form textarea{
	height: 40%;
	background: rgba(0,0,0,0.5);
	border: 1px solid white;
	resize: none;
	width: 300px;
}
#contact form textarea:focus{
	outline: none;
}
#contact form button{
	background: rgba(0,0,0,0.5);
	border: 1px white solid;
	width: 150px;
	height: 40px;
}
#contact form button:focus{
	background-color: white;
	color: #1A004A;
	border: 1px #1A004A solid;
}

@media only screen and (min-device-width: 0) and (max-device-width: 800px){
	

	#contact{
		margin-top: 0;
		position: absolute;
		top: 50vh;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	#contact>div{
		margin-bottom: 30px;
		transition: 1s opacity;
	}
}