@keyframes buttonAnimation{
	from{
		margin-top: -35px;
		opacity: 0;
	}
	to{
		margin-top: 0px;
		opacity: 1;
	}
}

.buttonHide{
	opacity: 0;
}


#work{
	flex-direction: column;
}

.buttonShow{
	animation: 
		buttonAnimation 2s 6s forwards;
}

.frame>.workHeader>.workAlignAnimation{
	margin-top: 25px;
}

.frame>.workHeader {
	height: 50px;
	margin-top: 35px;
	margin-bottom: 35px;
	padding: 0;
	display: flex;
	justify-content: center;
}

.workHeader>.textBox{
	top: 0;
	left: 49.99%;
	margin-top: 145px;
	transform: translate(-50%, -50%);
	transition: margin-top 2s 4s;
}

#work>.content{
	margin-bottom: 35px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.content button{
	margin: 0;
	padding: 0;
}

.content button:hover{
	cursor: pointer;
}

#work button{
	height: 200px;
	width: 200px;
	border: none;
	transition: 1s all;
}

#btn1{
	background: url('../images/buttonvission.png');
	background-size: 100% 100%;
}

#btn1:hover{
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),  url('../images/buttonvission.png');;
	background-size: 100% 100%;
}

#btn2{
	background: url('../images/buttonvalu.png');
	background-size: 100% 100%;
}

#btn2:hover{
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),  url('../images/buttonvalu.png');;
	background-size: 100% 100%;
}

#btn3{
	background: url('../images/buttonvillage.png');
	background-size: 100% 100%;
}

#btn3:hover{
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),  url('../images/buttonvillage.png');;
	background-size: 100% 100%;
}

.page{
	overflow: hidden;
	height: 100%;
}

div.opacityShow{
	opacity: 1;
	visibility: visible;
}

.pictureframe{
	width: 100%;
	background: black;
	position: absolute;
	top: 0;
	left: 0;
	overflow: auto;
	text-align: center;
	opacity: 0;
	transition: opacity 1s ease;
	visibility: hidden;
}

.pictureframe img{
	max-width: 1100px;
	margin: 60px auto;
	display: none;
}

.pictureframe button{
	position: fixed;
	right: 15px;
	top: 15px;
	width: 32px;
	height: 32px;
	background: url('../images/letter-x.png');
	background-size: contain;
	border: none;
}

.pictureframe button:active{
	outline: none;
}

.content img{
	visibility: hidden;
	width: 50px;
	height: 50px;
}

.content button:hover img{
	visibility: visible;
}

@media only screen and (min-device-width: 0) and (max-device-width: 800px){
	
#work>.content{
	margin-bottom: 35px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 800px;
}

.workHeader > .textBox{
	transform: none;
}

.frame > .workHeader > .workAlignAnimation{
	margin-top: 0;
}

}